body{
    background: url("../img/XmasBeachHuts_ZH-CN6195800613_1920x1080.jpg");
}
.content{
    color: black;
    position: relative;
    top: 70px;
    width: 450px;
    /*height: 400px;*/
    margin: auto;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #363636;
    text-align: center;
    padding: 20px;
}
a{
    text-decoration: none;
    color: white;
}
table{
    margin: auto;
}
td{
    width: 70px;
}